#root {
  --var-top: 70%;
  --primary-color: rgba(22, 45, 255, 0.68);
  --shadow-color: rgba(39, 61, 187, 0.633);
  --dialog-aspect-ratio: 16/3;
  --dialog-border-radius: 50% / 15%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Semplicita Pro";
  font-weight: 600;
}
